@import './styles/about.css';
@import './styles/contact.css';
@import './styles/products.css';
@import './styles/cart.css';


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display SC', Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
}

.header {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: rgba(0, 0, 0, .4);
  gap: 40px;
}

.logo {
  width: 80px;
  height: 80px;
  fill: white;
  cursor: pointer;
}

.logo:hover {
  fill: orangered;
}

.bag {
  width: 35px;
  height: 35px;
  fill: white;
}

.bag:hover {
  fill: orangered;
}

.nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin-right: 80px;
}

.nav ul li:not(.nav ul li:last-child) {
  font-size: 1.25rem;
  padding: 27px 0 26px 0;
  width: 110px;
  text-align: center;
  cursor: pointer;
  color: white;
}

.nav ul li:not(.nav ul li:last-child):hover::after {
  content: '';
  width: 100%;
  display: block;
  height: 2px;
  background-color: white;
}

.nav ul li:last-child {
  cursor: pointer;
  position: fixed;
  right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.nav ul li:last-child:hover {
  color: orangered;
}

.cart-amount {
  font-size: 0.75rem;
  position: absolute;
  top: 14px;
}

.nav ul li a {
  color: white;
  text-decoration: none;
}

.home {
  height: calc(100vh - 80px);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 38px;
  padding-top: 50px;
}

.home h1 {
  font-size: 4rem;
  font-weight: 700;
  font-style: italic;
}

.home span {
  font-size: 1.5rem;
  padding-left: 20px;
}

.home a {
  margin-top: 20px;
  margin-left: 20px;
  padding: 10px 16px;
  background-color: black;
  font-size: 1.25rem;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: white;
  text-decoration: none;
}

.home a:hover {
  background-color: orangered;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px bisque;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(244, 199, 132);
}
